/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body{
  background-color:#bdc3c7 ;
  width:40vh;
  height:83vh;
  box-shadow: 5px 10px;
  border: 1px solid black;
  font-family: 'Montserrat', sans-serif;
}
.hlavicka{
  position:relative;
}
.foto {
  max-width: 100%;
}
.obsah,
.odkazy{
  background-color:#31363b;
  color: white;
}
h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px bold;
}
.obsah{
  margin-top:-5px;
  padding-top: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:10px;
}
.text,
.druhy{
  padding:16px;
} 
.logo{
  background:#b92e81;
  border-radius:50%;
  position: absolute;
  top:130px;
  right:10px;
}
.druhy{
  margin-bottom:-20px;
}
.portfolio{
 flex-basis:40vh;
 padding:5px 5px 5px 30px;
 border-bottom:2px solid #3f464d;
}
.facebook{
  flex-grow:1;  
  padding:5px 0px 5px 20px;
  border-right: 2px solid #3f464d;
}
.twitter{
  flex-grow:1;  
  padding:5px 5px 5px 10px;
}

.odkazy {
  border-top:2px solid #3f464d;
  border-bottom:2px solid #3f464d;
  display:flex;
  flex-wrap:wrap;
}
.odkazy a {
  text-decoration: none;
  color: white;
}
.facebook a:hover{
  background-color:#3b5998;
  padding:5px;
}
.twitter a:hover{
  background-color:#1da1f2;
  padding:5px 8px;
}
.portfolio a:hover{
  background-color:#e74c3c;
  padding:5px 15px;
}
.odkazy{
  padding-left:0px;
}
